{% extends 'base.html' %}

{% block title %}关于我们{% endblock %}

{% block content %}

<!-- ##### Login Area Start ##### -->
<div class="vizew-login-area section-padding-80" style="min-height:490px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="login-content">
                    <!-- Section Title -->
                    浪潮财经News致力于打造区块链行业智能的信息推荐系统！
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Login Area End ##### -->



{% endblock %}
